POSTGRES_DB=odhvica
POSTGRES_USER=odhvica
POSTGRES_PASSWORD=change_this_to_a_long_random_password

STORE_DOMAIN=odhvica.com
STORE_WWW_DOMAIN=www.odhvica.com
ADMIN_DOMAIN=admin.odhvica.com
API_DOMAIN=api.odhvica.com
